<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
				<key>dateExpires</key>
				<string>02/01/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384C6ADD63F009F44F3F98BC67D7C703C85D8C25</string>
						<key>dateExpires</key>
						<string>02/01/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>579M3N82Z7</string>
						<key>name</key>
						<string>SCANPAY SDN. BHD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>579M3N82Z7.com.scanpay.user</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>579M3N82Z7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>myScanpay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b59d02a2-0b1c-40a6-a3dd-171a8716d5e3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.scanpay.user</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>579M3N82Z7</string>
				<key>name</key>
				<string>SCANPAY SDN. BHD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
